@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .listStyle {
    @apply opacity-70 hover:opacity-100 cursor-pointer text-2xl hover:scale-110 transition-all duration-500 active:scale-90;
  }
  .destinationCard {
    @apply h-60 w-[50%] bg-transparent animate-spin-slow rounded-md object-contain cursor-pointer
  }
  .cardContainer {
    @apply flex flex-col justify-center items-center w-full space-y-8
  }
  .pageFormat {
    @apply px-10 h-screen z-40 overflow-hidden
  }
  .btn {
    @apply rounded-md font-extralight hover:brightness-110 active:scale-90 w-full transition-all bg-yellow-800 text-white px-8 py-2
  }
}

